.message__friend,
.message__user {
  display: flex;
  gap: 1rem;
}

.message__user {
  align-self: flex-end;
}

.message__friend__image,
.message__user__image {
  width: 4rem;
  height: 4rem;
}

.message__friend__image img,
.message__user__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.message__friend__desc,
.message__user__desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message__friend__desc p {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  max-width: 40rem;
}

.message__user__desc p {
  background-color: #f7f1f3;
  color: #000;
  padding: 1rem;
  border-radius: 20px;
  max-width: 40rem;
}

.message__friend__desc span {
  font-size: 1.2rem;
}

.message__user__timeago {
  align-self: flex-end;
  font-size: 1.2rem;
}
